<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  <h3>Team name: <input type="text" name="team[name]"></h3>
  <h3>Team motto: <input type="text" name="team[motto]"></h3>
  <h3>Hero 1 name: <input id="member1_name" type="text" name="team[heroes][][name]"></h3>
  <h3>Hero 1 power: <input id="member1_power" type="text" name="team[heroes][][power]"></h3>
  <h3>Hero 1 bio: <input id="member1_bio" type="text" name="team[heroes][][bio]"></h3>
  <h3>Hero 2 name:<input id="member2_name" type="text" name="team[heroes][][name]"></h3>
  <h3>Hero 2 power:<input id="member2_power" type="text" name="team[heroes][][power]"></h3>
  <h3>Hero 2 bio:<input id="member2_bio" type="text" name="team[heroes][][bio]"></h3>
  <h3>Hero 3 name:<input id="member3_name" type="text" name="team[heroes][][name]"></h3>
  <h3>Hero 3 power:<input id="member3_power" type="text" name="team[heroes][][power]"></h3>
  <h3>Hero 3 bio:<input id="member3_bio" type="text" name="team[heroes][][bio]"></h3>
  <h3><input type="submit">
</form>
